vrrp_instance VI_1 {
        state MASTER
        interface {{ keepalived_master_iface }}
        virtual_router_id 51
        priority {% if inventory_hostname == groups['masters'][0] %}150{% elif inventory_hostname == groups['masters'][1] %}120{% else %}80{% endif %}
        advert_int 1
        authentication {
              auth_type PASS
              auth_pass {{ keepalived_pass }}
        }
        virtual_ipaddress {
		{% for host in groups['masters'] %}'{{ hostvars[host]['ansible_host'] }}'{% if not loop.last %},{% endif %}{% endfor %}
        }
}
