http {
	upstream dswarm {
		least_conn;
		{% for server in alma %}
		server {{ server }};
		{% endfor %}
	}
	{% for svc in services %}
	server {
		listen 80 default;
		location /{{ svc }}/  {
			proxy_pass http://{{ hostvars['alma']['ansible_default_ipv4']['address'] }}:{{ services['port'] }};
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
		}
		{% endfor %}
	}
}
